body{
    background-image: url(start.png);
    background-attachment: scroll;
    background-position: center center;
        
}

#page{ width: 960px;
    margin: 0 auto;
    
}
p{
   margin-top: 20px; 
    font-size: 64px;
    color: #000000;
    font-weight: bold;
    text-align: center; 
    text-transform: uppercase; 
        
}
ul.menu {
list-style: none
}

ul.menu li {
display: inline-flex;
}

ul.menu li a {
font-family: sans-serif; 
text-decoration: none;
background: #000000;
font-weight: bold;
color: #fff700; 
border-radius: 20px 20px;
padding: 6px 10px 6px 10px
}

ul.menu li a:hover {
padding: 6px 10px 6px 10px;
font-weight: bold;
background: #ff0000;
color: #fff700; 
border-radius: 20px 20px;
}

.tab{
    font-size:24px;
    border: 1px solid #000;
    border-collapse: collapse;
}
tr{
   font-size:24px;
    border: 1px solid #000;
    border-collapse: collapse;
}
td{
    font-size:24px;  
    border: 1px solid #000;
    border-collapse: collapse;
}
frameset{
    border: 0pxl
}
caption {
    font-size: 48px;
}

figure{
    text-align: center; }